# Python virtualenv
venv/

# Bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Editor folders
.vscode/
.idea/

# Test and profiler outputs
.pytest_cache/
profile_make_windows.prof

# OS files
.DS_Store
Thumbs.db

# Build / packaging
dist/
build/
*.egg-info/

# Data and generated outputs (ignore by default)
data/
*.parquet
*.parquet.meta.json
rebase*
*rebased*
*.sampled.csv

# Logs
*.log

# local config
local_settings.py
